html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: CustomIcons;
  src: url("../fonts/custom-icons.eot");
  src: url("../fonts/custom-icons.woff") format("woff"), url("../fonts/custom-icons.ttf") format("truetype"), url("../fonts/custom-icons.svg#JournalRegular") format("svg"); }

/*
*extends
*/
.container:after, .sign-in-section form:after, .links-section ul:after, .thanks-section:after, .partners-section ul:after {
  content: '';
  display: block;
  clear: both; }

.no-display {
  display: none; }

body {
  font-family: Arial;
  color: #282828;
  font-weight: 400;
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: #282828;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  -moz-transition: 0.15s color ease-in;
  -o-transition: 0.15s color ease-in;
  -webkit-transition: 0.15s color ease-in;
  transition: 0.15s color ease-in; }
  a:hover, a:focus {
    color: #f77979; }

h1 {
  color: #282828;
  font-size: 38px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 1.69px; }

h2 {
  color: #282828;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.61px;
  line-height: 33px; }

.description {
  color: #b0b0b0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 28px; }

.container {
  width: 800px;
  margin: auto;
  position: relative; }

::-webkit-input-placeholder {
  color: #d2d2d2; }

::-moz-placeholder {
  color: #d2d2d2; }

:-moz-placeholder {
  color: #d2d2d2; }

:-ms-input-placeholder {
  color: #d2d2d2; }

.links-section ul a:hover:before {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

.links-section ul a:hover:before {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing; }

/*
*header
*/
.header {
  padding-top: 44px; }
  .header .logo {
    float: left; }
  .header .header-links {
    float: right; }
    .header .header-links a {
      line-height: 3.8;
      display: inline-block;
      padding: 0 3px;
      margin-left: 32px; }
      .header .header-links a:first-child {
        margin-left: 0; }

/*
* first-section
*/
.first-section .text-wrapper {
  float: left;
  width: 50%;
  margin: 84px 0 68px; }
  .first-section .text-wrapper h1 {
    margin-bottom: 16px; }
  .first-section .text-wrapper:after {
    content: '';
    display: block;
    height: 4px;
    width: 100px;
    background-color: #f77979;
    margin-top: 30px; }

.first-section .img-wrapper {
  float: right;
  position: relative; }
  .first-section .img-wrapper img {
    position: absolute;
    top: -17px;
    right: -53px; }

/*
* sing-in-section
*/
.sign-in-section {
  background-color: #f7f7f7;
  padding: 61px 0 62px; }
  .sign-in-section h2 {
    margin-bottom: 4px; }
  .sign-in-section form {
    margin: 13px 0; }
    .sign-in-section form input {
      width: 270px;
      height: 43px;
      background-color: white;
      border: 1px solid #b0b0b0;
      border-right: none;
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -ms-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      float: left;
      color: #282828;
      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 17px;
      box-sizing: border-box;
      padding: 0 10px;
      outline: none; }
    .sign-in-section form button {
      float: left;
      background-color: #f77979;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 17px;
      border: none;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      width: 115px;
      height: 43px;
      box-sizing: border-box;
      text-transform: uppercase;
      cursor: pointer;
      -moz-transition: 0.15s all ease-in;
      -o-transition: 0.15s all ease-in;
      -webkit-transition: 0.15s all ease-in;
      transition: 0.15s all ease-in; }
      .sign-in-section form button:hover {
        background-color: #d65246; }
    .sign-in-section form input:focus + button {
      background-color: #d65246; }

/*
* links-section
*/
.links-section ul {
  margin-top: 56px; }
  .links-section ul li {
    float: left;
    text-align: center; }
    .links-section ul li.link1 {
      width: 19%; }
      .links-section ul li.link1 a:before {
        content: '\e901'; }
    .links-section ul li.link2 {
      width: 17%; }
      .links-section ul li.link2 a:before {
        content: '\e902'; }
    .links-section ul li.link3 {
      width: 18%; }
      .links-section ul li.link3 a:before {
        top: 3px;
        content: '\e903'; }
    .links-section ul li.link4 {
      width: 12.5%; }
      .links-section ul li.link4 a:before {
        top: 3px;
        content: '\e904'; }
    .links-section ul li.link5 {
      width: 20.8%; }
      .links-section ul li.link5 a:before {
        content: '\e905'; }
    .links-section ul li.link6 {
      width: 12.2%; }
      .links-section ul li.link6 a:before {
        content: '\e906'; }
  .links-section ul a {
    text-transform: uppercase;
    color: #282828;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    padding-top: 54px;
    position: relative; }
    .links-section ul a:before {
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      right: 0;
      margin: auto;
      width: initial;
      height: 30px;
      line-height: 30px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      font-family: CustomIcons;
      font-size: 16px; }
    .links-section ul a:hover {
      color: #f77979; }

/*
*laptop-image
*/
.laptop-image {
  margin-top: 51px; }
  .laptop-image .laptop-background {
    background: url(../images/laptop.png) 50% 50% no-repeat;
    text-align: center;
    height: 464px; }
    .laptop-image .laptop-background img {
      margin: 42px 0 0 15px; }

/*
*thanks-section
*/
.thanks-section {
  background-color: #f57266;
  margin-top: -136px;
  padding: 181px 0 116px; }
  .thanks-section .left-column {
    float: left;
    text-align: right;
    width: 35.7%; }
    .thanks-section .left-column h3 {
      color: #ffffff;
      font-size: 53px;
      font-weight: 400;
      line-height: 60px; }
    .thanks-section .left-column .btn {
      min-width: 202px;
      box-sizing: border-box;
      border: 1px solid #282828;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      text-align: left;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 38px;
      padding: 0 20px;
      display: inline-block;
      margin-top: 10px;
      text-transform: none;
      -moz-transition: 0.15s all ease-in;
      -o-transition: 0.15s all ease-in;
      -webkit-transition: 0.15s all ease-in;
      transition: 0.15s all ease-in; }
      .thanks-section .left-column .btn span {
        background: url(../images/kickstarter.svg) 0 50% no-repeat;
        padding-left: 30px; }
      .thanks-section .left-column .btn:hover, .thanks-section .left-column .btn:focus {
        border: 1px solid #ffffff; }
  .thanks-section .right-column {
    float: right;
    width: 57.7%;
    margin: 6px 13px 0 0; }
    .thanks-section .right-column .description {
      color: #282828;
      font-size: 20px;
      letter-spacing: 0.6px;
      line-height: 27px; }

/*
*partners-section
*/
.partners-section {
  margin: 83px 0; }
  .partners-section h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 46px; }
  .partners-section ul {
    width: 85%;
    margin: auto;
    -moz-transition: 0.15s all ease-in;
    -o-transition: 0.15s all ease-in;
    -webkit-transition: 0.15s all ease-in;
    transition: 0.15s all ease-in; }
    .partners-section ul:hover li a {
      opacity: 0.6; }
    .partners-section ul li {
      float: left;
      width: 33.3333%;
      text-align: center;
      margin-bottom: 16px; }
      .partners-section ul li a {
        display: inline-block;
        -moz-transition: 0.15s all ease-in;
        -o-transition: 0.15s all ease-in;
        -webkit-transition: 0.15s all ease-in;
        transition: 0.15s all ease-in; }
        .partners-section ul li a:hover {
          opacity: 1; }

/*
*media queries
*/
@media screen and (max-width: 905px) {
  .container {
    width: 90%; }
  .first-section .img-wrapper img {
    max-width: 270px;
    right: -20px; }
  .first-section .text-wrapper {
    width: 58%;
    margin: 70px 0; }
  .laptop-image .laptop-background {
    background-size: 600px;
    height: 350px; }
    .laptop-image .laptop-background img {
      margin: 25px 0 0 12px;
      width: 440px; }
  .thanks-section {
    padding: 160px 0 80px; }
  .partners-section {
    margin: 60px 0; }
    .partners-section ul {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .header {
    padding-top: 25px; }
  .first-section .text-wrapper {
    margin: 50px 0; }
  .sing-in-section {
    padding: 50px 0; }
  .thanks-section .left-column h3 {
    font-size: 47px; } }

@media screen and (max-width: 639px) {
  .first-section .text-wrapper {
    width: 100%; }
    .first-section .text-wrapper:after {
      display: none; }
  .first-section .img-wrapper {
    display: none; }
  .links-section ul {
    margin-top: 35px; }
    .links-section ul li[class^="link"] {
      width: 33.3333334%;
      margin-bottom: 45px; }
      .links-section ul li[class^="link"] a:before {
        font-size: 24px; }
  .laptop-image {
    display: none; }
  .thanks-section {
    padding: 50px 0;
    margin-top: 20px; }
    .thanks-section .left-column,
    .thanks-section .right-column {
      width: 100%;
      text-align: left;
      margin: 0; }
    .thanks-section .right-column {
      margin-top: 15px;
      text-align: justify; }
  .partners-section {
    margin: 50px 0; }
    .partners-section ul li {
      width: 50%;
      height: 40px; } }

@media screen and (max-width: 479px) {
  .header {
    padding-top: 15px; }
  .first-section .text-wrapper {
    margin: 40px 0; }
  .sing-in-section {
    padding: 40px 0; }
    .sing-in-section form input {
      width: 70%; }
    .sing-in-section form button {
      width: 30%; }
  .thanks-section {
    padding: 40px 0; }
    .thanks-section .left-column {
      text-align: center; }
  .partners-section {
    margin: 40px 0; }
    .partners-section ul li {
      margin-bottom: 5px; }
      .partners-section ul li img {
        max-width: 85%; } }
