@font-face{
	font-family: CustomIcons;
	src: url("../fonts/custom-icons.eot");
	src: url("../fonts/custom-icons.woff") format("woff"),
		 url("../fonts/custom-icons.ttf") format("truetype"),
		 url("../fonts/custom-icons.svg#JournalRegular") format("svg");
}