/*
*header
*/
.header{
	padding-top: 44px;
	.logo{
		float: left;
	}
	.header-links{
		float: right;
			a{
				line-height: 3.8;
				display: inline-block;
				padding: 0 3px;
				margin-left: 32px;
					&:first-child{
						margin-left: 0;
					}
			}
	}
}

/*
* first-section
*/
.first-section{
	.text-wrapper{
		float: left;
		width: 50%;
		margin: 84px 0 68px;
			h1{
				margin-bottom: 16px;
			}
			&:after{
				content: '';
				display: block;
				height: 4px;
				width: 100px;
				background-color: $color-red;
				margin-top: 30px;
			}
	}
	.img-wrapper{
		float: right;
		position: relative;
			img{
				position: absolute;
				top: -17px;
				right: -53px
			}
	}
}

/*
* sing-in-section
*/
.sign-in-section{
	background-color: #f7f7f7;
	padding: 61px 0 62px;
		h2{
			margin-bottom: 4px;
		}
		form{
			margin: 13px 0;
			@extend %clearfix;
				input{
					width: 270px;
					height: 43px;
					background-color: white;
					border: 1px solid $color-grey;
					border-right: none;
					@include border-radius( 5px 0 0 5px);
					float:left;
					color: $color-black;
					font-family: $main-font;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.3px;
					line-height: 17px;
					box-sizing: border-box;
					padding: 0 10px;
					outline: none;
				}
				button{
					float:left;
					background-color: $color-red;
					color: $color-white;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.3px;
					line-height: 17px;
					border: none;
					@include border-radius( 0 5px 5px 0);
					width: 115px;
					height: 43px;
					box-sizing: border-box;
					text-transform: uppercase;
					cursor: pointer;
					@include transition( 0.15s all ease-in);
						&:hover{
							background-color: #d65246;
						}
				}
				input:focus + button{
					background-color: #d65246;
				}
		}
}

/*
* links-section
*/
.links-section{
	ul{
		margin-top: 56px;
		@extend %clearfix;
			li{
				float: left;
				text-align: center;
					&.link1{
						width: 19%;
						a:before{
							content: '\e901';
						}
					}
					&.link2{
						width: 17%;
						a:before{
							content: '\e902';
						}
					}
					&.link3{
						width: 18%;
						a:before{
							top: 3px;
							content: '\e903';
						}
					}
					&.link4{
						width: 12.5%;
						a:before{
							top: 3px;
							content: '\e904';
						}
					}
					&.link5{
						width: 20.8%;
						a:before{
							content: '\e905';
						}
					}
					&.link6{
						width: 12.2%;
						a:before{
							content: '\e906';
						}
					}
			}
			a{
				text-transform: uppercase;
				color: $color-black;
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
				display: block;
				padding-top: 54px;
				position: relative;
					&:before{
						display: block;
						position: absolute;
						top: 2px;
						left: 0;
						right: 0;
						margin: auto;
						width: initial;
						height: 30px;
						line-height: 30px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						font-family: CustomIcons;
						font-size: 16px;
					}
					&:hover{
						color: $color-red;
						&:before{
							@extend %animated, %swing;
						}
					}
			}
	}
}


/*
*laptop-image
*/
.laptop-image{
	margin-top: 51px;
	.laptop-background{
		background: url(../images/laptop.png) 50% 50% no-repeat;
		text-align: center;
		height: 464px;
			img{
				margin: 42px 0 0 15px;
			}
	}
}

/*
*thanks-section
*/
.thanks-section{
	background-color: #f57266;
	margin-top: -136px;
	padding: 181px 0 116px;
	@extend %clearfix;
		.left-column{
			float: left;
			text-align: right;
			width: 35.7%;
				h3{
					color: $color-white;
					font-size: 53px;
					font-weight: 400;
					line-height: 60px;
				}
				.btn{
					min-width: 202px;
					box-sizing: border-box;
					border: 1px solid $color-black;
					@include border-radius(4px);
					text-align: left;
					color: $color-white;
					font-size: 13px;
					font-weight: 400;
					line-height: 38px;
					padding: 0 20px;
					display: inline-block;
					margin-top: 10px;
					text-transform: none;
					@include transition( 0.15s all ease-in);
						span{
							background: url(../images/kickstarter.svg) 0 50% no-repeat;
							padding-left: 30px;
						}
						&:hover,
						&:focus{
							border: 1px solid $color-white;
						}
				}
		}
		.right-column{
			float: right;
			width: 57.7%;
			margin: 6px 13px 0 0;
				.description{
					color: $color-black;
					font-size: 20px;
					letter-spacing: 0.6px;
					line-height: 27px;
				}
		}
}

/*
*partners-section
*/
.partners-section{
	margin: 83px 0;
		h3{
			font-size: 24px;
			font-weight: 400;
			line-height: 28px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 46px;
		}
		ul{
			@extend %clearfix;
			width: 85%;
			margin: auto;
			@include transition (0.15s all ease-in);
				&:hover li a{
					opacity: 0.6;
				}
				li{
					float: left;
					width: 33.3333%;
					text-align: center;
					margin-bottom: 16px;
						a{
							display: inline-block;
							@include transition( 0.15s all ease-in);
								&:hover{
									opacity: 1;
								}
						}
				}
		}
}

/*
*media queries
*/
@media screen and (max-width: 905px) {
	.container{
		width: 90%;
	}
	.first-section{
		.img-wrapper img{
			max-width: 270px;
			right: -20px;
		}
		.text-wrapper{
			width: 58%;
			margin: 70px 0;
		}
	}
	.laptop-image{
		.laptop-background{
			background-size: 600px;
			height: 350px;
				img{
					margin: 25px 0 0 12px;
					width: 440px;
				}
		}
	}
	.thanks-section{
		padding: 160px 0 80px;
	}
	.partners-section{
		margin: 60px 0;
			ul{
				width: 100%;
			}
	}
}

@media screen and (max-width: 768px) {
	.header{
		padding-top: 25px;
	}
	.first-section{
		.text-wrapper{
			margin: 50px 0;
		}
	}
	.sing-in-section{
		padding: 50px 0;
	}
	.thanks-section .left-column h3{
		font-size: 47px;
	}
}

@media screen and (max-width: 639px) {
	.first-section{
		.text-wrapper{
			width: 100%;
				&:after{
					display: none;
				}
		}
		.img-wrapper{
			display: none;
		}
	}
	.links-section{
		ul{
			margin-top: 35px;
				li[class^="link"]{
					width: 33.3333334%;
					margin-bottom: 45px;
						a:before{
							font-size: 24px;
						}
				}
		}
	}
	.laptop-image{
		display: none;
	}
	.thanks-section{
		padding: 50px 0;
		margin-top: 20px;
			.left-column,
			.right-column{
				width: 100%;
				text-align: left;
				margin: 0;
			}
			.right-column{
				margin-top: 15px;
				text-align: justify;
			}
	}
	.partners-section{
		margin: 50px 0;
			ul li{
				width: 50%;
				height: 40px;
			}
	}
}

@media screen and (max-width: 479px){
	.header{
		padding-top: 15px;
	}
	.first-section{
		.text-wrapper{
			margin: 40px 0;
		}
	}
	.sing-in-section{
		padding: 40px 0;
			form{
				input{
					width: 70%;
				}
				button{
					width: 30%;
				}
			}
	}
	.thanks-section{
		padding: 40px 0;
			.left-column{
				text-align: center;
			}
	}
	.partners-section{
		margin: 40px 0;
		ul li{
			margin-bottom: 5px;
				img{
					max-width: 85%;
				}
		}
	}
}