/*
*extends
*/
%clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.no-display{
	display: none;
}

body{
	font-family: $main-font;
	color: $color-black;
	font-weight:400;
	-webkit-text-size-adjust: 100%;
}

a{
	text-decoration: none;
	color: $color-black;
	font-family: $main-font;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	text-transform: uppercase;
	@include transition(0.15s color ease-in);
		&:hover,
		&:focus{
			color: $color-red;
		}
}

h1{
	color: $color-black;
	font-size: 38px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 1.69px;
}

h2{
	color: $color-black;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 0.61px;
	line-height: 33px;
}

.description{
	color: $color-grey;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.32px;
	line-height: 28px;
}

.container{
	width: 800px;
	margin: auto;
	position: relative;
	@extend %clearfix;
}

// placeholder color
::-webkit-input-placeholder {color: #d2d2d2;}
::-moz-placeholder          {color: #d2d2d2;}
:-moz-placeholder           {color: #d2d2d2;}
:-ms-input-placeholder      {color: #d2d2d2;}

//animation
%animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

%swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}
