@mixin transition($transition...) {
		-moz-transition: $transition;
			-o-transition: $transition;
 -webkit-transition: $transition;
				 transition: $transition;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			-ms-border-radius: $radius;
					border-radius: $radius;
}

@mixin filter($filter) {
	-webkit-filter: $filter;
		 -moz-filter: $filter;
			-ms-filter: $filter;
			 -o-filter: $filter;
					filter: $filter;
}